.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 9px;
    min-height: 100vh;
    max-width: 100%;
    padding: 10px;
}

.parent > div {
    border: 1px dashed #ccc;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto; /* Para contenido que podría desbordar */
}

.parent > div:nth-child(odd) {
    background-color: #f9f9f9;
}

.parent > div:nth-child(even) {
    background-color: #e9e9e9;
}




.div1 {
    grid-column: span 5 / span 5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.div1 img{
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

.social-icons {
    display: flex;
    gap: 10px; /* Espacio entre los íconos */
    margin-left: auto; /* Empuja los íconos hacia la derecha */
}

.social-icons a img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}


.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
}


.div3 {
    display: flex;
    flex-direction: column; /* Alinea los formularios y el botón verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 20px; /* Espacio entre los formularios y el botón */
}

.form-container {
    display: flex; /* Coloca los formularios en una fila */
    gap: 20px; /* Espacio entre los formularios */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

form {
    flex: 1; /* Hace que ambos formularios ocupen el mismo ancho */
    max-width: 48%; /* Limita el ancho máximo de cada formulario */
    border: 1px solid #ccc; /* Opcional: agrega un borde para separar visualmente */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.button-container .btn {
    width: 200px; /* Ancho fijo para el botón */
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 3;
}
        
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 3;
}
